*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bigpicture{
  height: 100vh;
  width: 100vw;
  background-image: url("electric_car_1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
.bigpicture:nth-child(3){
  background-image: url("blue_car.jpg");
}
.bigpicture:nth-child(4){
  background-image: url("black-and-white-car.jpg");
}
.title{
  font-family: "Bebas Neue";
  padding: 3vmin;
  position: absolute;
  bottom: 3vmin;
  left: 3vmin;
  font-size: 20vmin;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  transform: translateY(-100vh);
  /* filter: blur(10px); */
  transition: transform .5s ease .3s;
}
.title.active{
  transform: none;
  /* filter: none; */
}
.title.right{
  left: auto;
  right: 3vmin;
}
.body{
  font-family: "Alata";
  font-size: 5vmin;
}
#topmenu{
  position: fixed;
  top: 0;
  left: 0;
  height: 10vmin;
  width: 100vw;
  background-color: black;
  z-index: 1;
  overflow-x: visible;
  display: flex;
  border-bottom: white .5vmin solid;
}
#logo{
  height: 10vmin;
  width: 10vmin;
  background-color: black;
  background-image: url("whitelogo.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  transition: filter .2s;
}
#logo:hover{
  filter: contrast(0.6) brightness(1.2);
}
.menuitem{
  display: inline-block;
  color: white;
  height: 10vmin;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2vmin;
  font-size: 4vmin;
  flex-grow: 1;
  font-family: "Alata";
  transition: flex-grow .2s, background .2s;
  cursor: pointer;
}
.menuitem:hover{
  flex-grow: 2;
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar {
	width: 1vmin;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: white;
}
::-webkit-scrollbar-thumb:hover {
	background: #DDD;
}
a{
  color: white !important;
  cursor: pointer;
  text-decoration: underline;
}
.carstats{
  position: relative;
  height: 30vmax;
  overflow: hidden;
  color: white;
  border-bottom: white .5vmin solid;
  filter: grayscale(100%);
  transition: filter .2s;
}
.carstats:hover{
  filter: grayscale(0%);
}
.preview{
  position: absolute;
  height: 100%;
  width: 70vw;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  transform: scale(1.2);
  transition: transform .2s;
}
.carstats:hover > .preview{
  transform: scale(1);
}
.info{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 60vw;
  box-sizing: border-box;
  background: linear-gradient(90deg, black 0%, black 50%, rgba(0, 0, 0, 0) 100%);
  padding: 5vmin;
  overflow: hidden;
}
.smalltitle{
  font-family: "Bebas Neue";
  font-size: 10vmin;
  text-decoration: underline;
}
.button{
  position: absolute;
  bottom: 3vmin;
  right: 3vmin;
  padding: 1vmin;
  background: white;
  color: black;
  border-radius: 1vmin;
  cursor: pointer;
  font-size: 4vmin;
  box-shadow: 0 0 5vmin black;
  transition: transform .2s;
}
.button:hover{
  transform: scale(1.1);
}
